.nav-link{
  display: inline-block;
  margin: 5px;
}
.nav-link:active{
  color: orange;
}
.main{
  width: 1345px;
  height: 500px;
}
.btn-success{
  position: absolute;
  height: 40px;
  font-weight: bold;
  width: 150px;
  left: 800px;
  top: 340px;
  float: left;
}
.btn-primary{
  height: 40px;
  position: absolute;
  font-weight: bold;
  width: 170px;
  left: 1000px;
  top: 340px;
  float: left;
}
.btn a{
  text-decoration: none;
  color: white;
}
.col-md-8{
  border: 0px solid white;
  position:absolute;
  margin-top: 30px;
  left: 0px;
}
.col-md-4{
  left: 840px;
  margin-top: 30px;
}
.features-clean{
  margin-top: 700px;
}
.footer-basic{
  margin-top: 80px;
  text-align: center;
}
